@import "tailwindcss";
  
.status-open-card {
            border-top: 4px solid #10b981; 
           
        }
        .status-closed-card {
            border-top: 4px solid #a855f7; 
            
        }
        issue-card {
            transition: all 0.1s ease;
        }
       